<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        {% include svg.html %}
        <header class="head">
            {% include header.html %}
            {% include nav.html %}
        </header>
        {% include search.html %}
        <section class="margin">
            <div class="content">
                <div class="content_container">
                    <article>
                        {% if page.type == "vimeo" %}
                            {% if page.vimeo-embed %}
                                <div class="video_container">
                                    {{ page.vimeo-embed }}
                                </div>
                            {% endif %}
                        {% elsif page.type == "youtube" %}
                            {% if page.yt-video-id %}
                                <div class="video_container">
                                    <iframe src="https://www.youtube.com/embed/{{page.yt-video-id}}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                                </div>
                            {% endif %}
                        {% elsif page.type == "image" or page.type == "gallery" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% elsif page.type == "audio" %}
                            {% if page.audio-embed %}
                                {{ page.audio-embed }}
                            {% endif %}
                        {% elsif page.type == "product" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.google_drive_embed }}{{ page.featimg }}" alt="{{ page.title }}">
                            {% endif %}
                        {% endif %}

                        <h1 class="post_title">
                            {{ page.title }}
                        </h1>
                        <div class="meta">
                            {% include author.html%} &bull;
                            <span class="date">
                                Published on {{ page.date | date: '%B %d, %Y' }}
                            </span>
                        </div>
                        {% if page.type == "standard" %}
                            {% if page.featimg %}
                                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
                            {% endif %}
                        {% endif %}
                        <div class="post_content">
                        {% if page.type == "product" %}
                            <div class="product">
                                <p><strong>Proses produksi hanya 1-2 hari jadi dan siap kirim</strong></p>
                                <div>&nbsp;</div>
                                Hardcase terbuat dari 100% plastik
                                <br>
                                1. Kuat dan ringan terbuat dari material Plastik policarbonate (Hardcase)
                                2. Dirancang untuk tetap dapat mengakses semua port dan function handphone anda
                                3. Diprint dengan teknologi sublimasi heat press, hasil anti air dan tidak mudah mengelupas.
                                4. Mudah di pasang dan dikeluarkan - Snap on Snap off
                                5. Bisa menggunakan gambar / foto sendiri
                                <div>&nbsp;</div>
                                Design di atas bisa untuk berbagai merk dan tipe HP
                                #note: Hasil gambar bisa sama bisa sedikit beda , karena yang terlihat di layar monitor/gadgets anda bisa berbeda pencahayaannya dan kualitas layarnya
                                <div>&nbsp;</div>
                                Happy Shopping.
                                Terima kasih sudah mengunjungi toko kami
                                <div>&nbsp;</div>
                                <p><strong>Daftar Tipe Hp yang tersedia:</strong></p>
                                <br>
                                <p><strong>Apple</strong></p>
                                iPhone 5/ 5S / SE, iPhone 5C, iPhone 6 / 6S, iPhone 6 Plus / 6S Plus, iPhone 7, iPhone 7 Plus
                                <br>
                                <p><strong>Samsung</strong></p>
                                Samsung Galaxy S6, S6 Edge, S6 Edge Plus,S7, S7 Edge, S8, S8 Plus, S9, S9 Plus
                                Galaxy A3 (2016), A5 (2016), A7 (2016), Galaxy A3 (2017), A5 (2017), A7 (2017), A8, A8 plus
                                Galaxy C5, C7
                                Galaxy J2 (2016), J3 (2016), J5 (2016), J7 (2016), Grand Prime
                                Galaxy J2 (2017), J3 (2017), J5 (2017), J7 (2017)
                                <br>
                                <p><strong>Asus</strong></p>
                                Asus Zenfone 2 550 / 551 ML, Zenfone 5, Zenfone 6, Zenfone 2 Laser (ZE500 5inch), Zenfone Selfie
                                <br>
                                <p><strong>Lenovo</strong></p>
                                A6000, A7000, Lenovo Vibe k4
                                <br>
                                <p><strong>Xiaomi</strong></p>
                                Redmi 3, redmi 3s, Redmi 4, Redmi Note 3,Redmi Note 4, Mi 5, Mi Max, 
                                <br>
                                <p><strong>Vivo</strong></p>
                                Vivo V5, V5 Plus, V7, V7 Plus
                                <br>
                                <p><strong>Oppo</strong></p>
                                Oppo F1s, F1 Plus, neo 7, neo 9, f5, A39
                                <br>
                                <p><strong>LG</strong></p>
                                LG G5, G6
                                <br>
                                <p><strong>Sony</strong></p>
                                Sony Z5
                            </div>
                        {% else %}
                            {{ content }}
                        {% endif %}
                        </div>
                        {% if page.category || page.tags %}
                        <div class="catsandtags">
                            {% if page.category %}
                            <p class="category">
                                <span class="name">Categories:</span>
                                {{ page.categories | category_links }}
                            </p>
                            {% endif %}
                            {% if page.tags %}
                            <p class="tags">
                                <span class="name">Tags:</span>
                                {% for tag in page.tags %}
                                    <a href="{{ site.tag_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ tag }}">{{ tag }}</a>
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                        {% endif %}
                    </article>
                    <div class="post_nav">
                        {% if page.previous.url %}
                        <a class="prev" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-angle-left"></i><span class="short"> prev</span><span class="long">ious post</span></a>
                        {% endif %}
                        {% if page.next.url %}
                        <a class="next" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}"><span class="short">next </span><span class="long">post </span><i class="fa fa-angle-right"></i></a>
                        {% endif %}
                    </div>
                </div>
                {% include sidebar.html %}
            </div>
        </section>
        {% include footer.html %}
        <script src="{{ site.baseurl | replace: '//', '/' }}/js/build/global.min.js"></script>
    </body>
</html>
